html {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
    background-color: gray;
    padding: 20px;
    justify-content: space-between;
}

body {
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aquamarine;
    margin-left: 100px;
    padding: 20px;

}

h1 {
    font-size: 100px;
    font-family: 'Updock', cursive;
    margin: 20PX 0PX 20PX;
    padding: 10px 10px;
    background-color: red;
    border: 1PX SOLID black;
    height: 125PX;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    padding: 10px 10px;
    margin: 30px 10px 30px 10px;
    width: 12%;
}

p {
    background-color: rgba(100, 148, 237, 0.534);
}

.item-1 {
    display: flex;
}

.item-2 {
    display: flex;
    padding: 10px;
    margin-left: 50px;
    flex-direction: column;
    width: 45%;
}

section.item-2 {
    margin: 10px 0px 0px 10px;
}

.item-2-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    arragne-items: center;
    border: solid black 1px;
    background-color: red;
    wi
}

.item-1-2-3 {
    background-color: white;
}

.item-3 {
    display: flex;
    flex-direction: row width: 45%;
    background-color: red;
}

.item-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blueviolet;

}

* {
    border solid red 1px;
}

@media screen {}