html {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
    background-color: gray;
    padding: 20px;
    justify-content: space-between;
}

body {
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aquamarine;
    margin-left: 100px;
    padding: 20px;

}

h1 {
    font-size: 100px;
    font-family: 'Updock', cursive;
    margin: 20PX 0PX 20PX;
    padding: 10px 10px;
    background-color: red;
    border: 1PX SOLID black;
    height: 125PX;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-1 {
    display: flex;
}

.item-2 {
    display: flex;
    padding: 10px;
    margin-left: 50px;
}

.item-1 .item-2 {}